.chart {
    border: 1px solid; 
    display: flex;
}

.complexity-inside {
    bottom: 20px;
    position: relative;
}

.complexity-outside {
    height: 10px;
    margin-bottom: 5px;
}

.displayIF {
    display: inline-flex;
}

.horizontal-line {
    border-top: 1px solid;
    height: 0;
}

.no-margin {
    margin-bottom: 0px;
}

.vertical-line {
    border-left: 1px solid;
}
